<div class="mt-4">
    <div>
        <a href="/me/stored/courses">
            Danh sách khóa học <i class="fa-brands fa-leanpub"></i>
        </a>
        <h3>Khóa học đã xóa</h3>
    </div>

    <table class="table mt-4">
        <thead> 
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-outline-info btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#deleteCourseModal">
                        Xóa vĩnh viễn
                    </button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    <img class="mt-4" src="https://static-00.iconduck.com/assets.00/stock-out-icon-256x256-2ltyhmsg.png" alt="">
                    <p class="mt-4">Thùng rác trống</p>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="deleteCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCourseModalLabel">Xóa khóa học</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Khóa học này sẽ không thể khôi phục. Bạn có chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<!-- Hidden Form for Delete -->
<form name="deleteForm" method="POST"></form>
<form name="restoreForm" method="POST"></form>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const deleteModal = document.getElementById('deleteCourseModal');
        const confirmDeleteBtn = document.getElementById('confirmDelete');
        const deleteForm = document.forms['deleteForm'];
        const restoreForm = document.forms['restoreForm'];
        var btnRestore = $('.btn-restore')
        let courseId;

        if (deleteModal) {
            // Khi modal hiển thị, lấy ID của khóa học từ button
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget; // Button kích hoạt modal
                courseId = button.getAttribute('data-bs-id'); // Lấy ID từ data-bs-id
            });

            // Khi nhấn nút "Xóa" trong modal
            confirmDeleteBtn.addEventListener('click', function () {
                // Cập nhật action của form và gửi yêu cầu DELETE
                deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
                deleteForm.submit();
            });
        }

        // Restore btn clicked
        btnRestore.click(function(e) {
            e.preventDefault();

            var courseId = $(this).data('id');
            restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
            restoreForm.submit();
        });
    });

</script>

